body,html{
	margin:0px;
	background: #fefefe;
	font-family: 'Nunito', sans-serif;
}
div.main{
	width: 100%;
	max-width: 400px;
	margin:auto;
	padding:20px;
	box-sizing: border-box;
}
h1{
	font-weight: 900;
	margin:0 0 0 0;
	font-size: 3em;
	margin-left: 20px;
}
span.tagline{
	font-weight: 200;
	position: relative;
	top: -10px;
	margin-left: 20px;
}
.datasection{
	width: 100%;
	background: linear-gradient(#fefefe,#f8f8f8);
	height: 500px;
	border-radius: 30px;
	box-shadow: 0px 10px 40px rgba(0,0,0,0.1);
	margin-top: 10px;
	overflow: hidden;
}
.datasection img{
	width: 100%;
}
.picture img,.search img{
	opacity: 0.2;
}

input[type="submit"]{
	background: #000;
	color: #fff;
	border:none;
	letter-spacing: 2px;
	font-family: 'Nunito';
	padding: 10px 20px;
}

input[type="text"]{
	background: #eee;
	color: #000;
	border:none;
	letter-spacing: 2px;
	font-family: 'Nunito';
	padding: 10px 20px;
}