<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="theme-color" content="#121212">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,700,800,900" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="main.css">
  	<style type="text/css">
  		body,html{
  			background: #000;
  			color: #fff;
  		}
  		h1{
  			position: fixed;
		    top: 45%;
		    display: block;
		    width: 100%;
		    margin-left: 0px;
		}
		a{
			color: #fff;
		}
  	</style>
</head>
<body>
<center><a href="{{url_for('index')}}"><h1><center>instamed</center></h1></a></center>
</body>
</html>